$primary-color: #45489a;
$secondary-color: rgba(12,12,12,0.9);
$text-color: #333333;
$container-padding: 100px;
$container-padding-md: 50px;
$container-padding-xs: 10px;
$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
